<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docfx.console" version="2.56.7" targetFramework="net472" developmentDependency="true" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.8.3" targetFramework="net472" />
</packages>